.app{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 180vh;
  text-align: center;
  position: relative;
  margin: 5px 260px 5px 260px;
}

h1{
  color: #292828;
  font-family: Golos;
  font-weight: 700;
  font-size: rem;
  margin: 0;
  margin-bottom: 25px;
}

ul{
  list-style-type: none;
  padding: 0;


    li{
          padding: 15px;
          border: 2.5px solid rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          margin-bottom: 10px;
          font-family: Golos;
          font-weight: 400;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
    
          &:hover{
            border: 2.5px solid rgba(0, 0, 0, 0.3);
          }
          &:active{
            box-shadow: none;
            border: 2.5px solid rgba(0, 0, 0, 0.5);
          }
    }
}
.quiz_likert_div{
  border: none;
  &:hover{
    border: none;
  }
  &:active{
    box-shadow: none;
    border:none;
  }

}
.current_li{

  border: 2.5px solid #4FD1C5;
}
.input{
  font-size: 14px;
  text-align: start;
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  line-height: 50px;
  color: #111;
  margin-bottom: 6px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

}

.itmo_logo{
  margin-top: 15px;
  margin-bottom: 20px;

}

.quiz_input{
  margin-bottom: 5px;
}

.quiz_likert_div{
   display: flex;
   flex-direction: column;
   gap: 15px;

   margin-bottom: 7px;
}

.quiz{
  
  background-color: #fff;
  width: 500px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  margin:20px;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    height: 25px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
   
    position: absolute;
    left: 64%;
    transform: translateX(-50%);
  }


    &:before {
      background-color: #fff;
      width: 350px;
    
      bottom: -10px;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 0;
    }
  
    &:after {
      background-color: #fff;
      width: 300px;
      bottom: -20px;
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 1;
      left: 68%;
    }
}

.quiz_inner{
  display: flex;
  flex-direction: column;
}

.quiz_btn{
  margin-top: 35px;
}

.quiz_btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz_btn_el {
  min-width: 301px;
  min-height: 61px;
  font-family: 'Nunito', sans-serif;

  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px);
  min-height: calc(60px);
 
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover{
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before{
  opacity: 1;
}


$demo-blue: #49494e;;
$demo-gray: #D6D6D6;
$demo-placeholder: #C7C7C7;
$demo-border: #E6E6E6;

$border-width: 3px;

@mixin form-input-select(){
  
  color: $demo-blue;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;

  margin-top: 9px;
  margin-bottom: 15px;
  width: 100%;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none; 


    border: 1px solid transparent; 
    width: 0;
    height: 0;
    right: 16px;
  }

  &::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: $demo-gray;
  }

  &::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: $demo-gray;
    top: 55%;
  }

  @-moz-document url-prefix() {
    border-right: $border-width solid $demo-border;
    
    &:hover {
      border-right: $border-width solid $demo-blue;
    }
  }

  &:hover {

    select {
      box-shadow: 0 2px 3px rgba($demo-blue, 0.1) inset;
      border-color: $demo-blue;
      &:focus {
        outline-color: transparent;
      }
      
    }

    &::before {
      border-bottom-color: $demo-blue;
    }
    &::after {
      border-top-color: $demo-blue;
    }

  }

  select {
    border: $border-width solid $demo-border;
    border-radius: 0;
    font-weight: 400;
    color: inherit;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease,
                outline 0.2s ease;
    &:focus {
      box-shadow: 0 3px 4px rgba($demo-blue, 0.3) inset;
      outline: $border-width solid $demo-blue;
      outline-offset: -#{$border-width}; 
    }

    &[disabled], &:disabled{
      opacity: 0.4;
      cursor: not-allowed;
    }
    &:not(:focus):invalid {
      color: $demo-placeholder;
    }

  }
}

[include*="form-input-select()"] {
  @include form-input-select();
}


.hint{
  color: red;
  text-align: start;
}
.hintIn{
  display: none;
}
